@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-50: 240, 249, 255;
    --brand-100: 224, 242, 254;
    --brand-200: 186, 230, 253;
    --brand-300: 125, 211, 252;
    --brand-400: 56, 189, 248;
    --brand-500: 14, 165, 233;
    --brand-600: 2, 132, 199;
    --brand-700: 3, 105, 161;
    --brand-800: 7, 89, 133;
    --brand-900: 12, 74, 110;
    --brand-950: 8, 47, 73;
  }
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
}

.perspective-1000 {
  perspective: 1000px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  display: inline-block;
}
